{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block container %}
    <section id="error-container">

        <div class="block-error">

            <header>
                <h1 class="error">404</h1>
                <p class="text-center">Page not found</p>
            </header>

            <p class="text-center">Houston, we have a problem. We're having trouble loading the page you are looking for.</p>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-info btn-block btn-3d" href="index.html">Back to Dashboard</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block btn-3d" onclick="history.back();">Previous Page</button>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
