{% extends "base.html" %}
{% block title %}500-OMS{% endblock %}
{% block container %}
    <section id="error-container">

        <div class="block-error">

            <header>
                <h1 class="error">500</h1>
                <p class="text-center">Something went wrong.</p>
            </header>

            <p class="text-center">Houston, we have a problem. Please try again later.</p>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-info btn-block btn-3d" href="index.html">Back to Dashboard</a>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
