{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
    <h2>{{  post.title }}</h2>
    <p>{{ post.timestamp | date:"1,F jS"}}</p>
    <p>{{ post.body }}</p>
    {% endfor %}
{% endblock %}