
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    #nav{
      background: #eee;
      width: 600px;
      height: 40px;
      margin: 0 auto;
    }
    ul{
      list-style:none;
    }
    ul li{
      float: left;
      line-height: 40px;
      text-align: center;
      position: relative;
    }
    a{
      text-decoration: none;
      color: #000;
      display: block;
      padding: 0 10px;
      height: 40px;
    }
    a:hover{
      color: #fff;
      background: #666;
    }
    ul li ul li{
      float: none;
      background: #eee;
      margin-top: 2px;
    }
    ul li ul{
      position: absolute;
      left: 0;
      top: 40px;
    }
    ul li ul li a{
      width: 80px;
    }
    ul li ul li a:hover{
      background: #06f;
    }
    ul li ul{
       display: none;
    }
    ul li:hover ul{
      /* display: block; */
    }
  </style>
</head>
<body>
<div id="nav">
  <ul>
  <li hidden="" ><a href="#" >一级菜单1</a></li>
    <li ref = '{{ role_id }}' class="role" ><a  href="#" >一级菜单1</a></li>
    <li><a href="#">一级菜单2</a></li>
    <li>
      <a href="#">一级菜单3</a>
      <ul>
        <li class="permi" reg = '{{ permi_id }}' > <a href="#" >新增</a>  </li>

        <li > <a href="http://bing.com" target="_blank">查询</a> </li>
        <li ><a href="#">{{ aa }}</a></li>
      </ul>
    </li>


  </ul>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script>
// $ 等于 jQuery
// $(function(){}) 等于 $(document).ready(function(){})
// 表示整个文档加载完成后再执行相应的函数。

  $(function(){
    // 选择器 > 表示子元素
    $('#nav>ul>li').mouseover(function(){
      // children 只获取子元素，不获取孙元素
      $(this).children('ul').show()
    })

    $('#nav>ul>li').mouseout(function(){
      $(this).children('ul').hide()
    })

   // 判断用户所属角色，如果角色id为0就隐藏，其他就正常显示
      if($('.role').attr('ref') == 0){
          $('.role').hide();
      }

      // 判断页面元素是否有权限，如果权限id为0 则字体为红色，其他就正常显示
     if($('.permi').attr('reg') == 0){
         $('.permi > a').css("color","red");     //选取所有特定class的a元素,操作css
         // $('.permi > a').text("fdsafds");     // 测试是否选到了元素
      }

  })
</script>


<h4 style='font-family:楷体;'>session中的用户名： {{ request.session.username }} </h4>

</body>
</html>