{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>部署管理</li>
                     <li class="active">智能硬件模块发布</li>
               </ul>
               <!--breadcrumbs end -->
               <h1 class="h1">智能硬件模块发布</h1>
            </div>
       </div>

       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                             <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="{% url 'deploy:module_deploy' %}">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">目标主机</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="tgt" value={{ tgt|capfirst }}>
                                        </div>
                                    </div>


                                 <div class="form-group">
                                        <label class="col-sm-3 control-label">版本列表</label>
                                     <div class="col-sm-6">
                                            <select name="">
                                                {% for ver in ver_all %}
                                            <option value="0"> {{ ver }}</option>
                                                {% endfor %}
                                             </select>

                                         <button  onclick="window.open('{% url 'deploy:change_ver' %}')">+</button>

                                         </div>
                                         <a href=http://192.168.30.138:18888/hard_java/ target="_blank">请点击查看编译日志</a>
                                        </div>


                                 <div class="form-group">
                                         <div class="col-sm-offset-8 col-sm-10">
                                              <button type="submit" name="mod" value="bianyi" class="btn btn-primary">编译</button>
                                         </div>
                                    </div>



                                 <div class="form-group">
                                        <label class="col-sm-3 control-label">部署环境</label>
                                        <div class="col-sm-6">

                                            <label class="radio-inline">
                                                <input class="icheck" type="radio" name="env" value="pre">预发布</label>
                                            <label class="radio-inline">
                                                <input class="icheck" type="radio" name="env" value="prod">正式(暂不开放)</label>

                                        </div>

                                    </div>
                                    <div class="form-group">
                                          <label class="col-sm-3 control-label">发布模块</label>
                                          <div class="col-sm-6">
                                              <select name="">
                                                  {% for mod in module %}
                                            <option value="0">{{ mod }}</option>
                                                  {% endfor %}
                                             </select>


                                          </div>
                                    </div>


                                    <div class="form-group">

                                         <div class="col-sm-offset-8 col-sm-10">
                                              <button type="submit" name="mod" value="fabu" class="btn btn-primary">发布</button>
                                         </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-sm-3 control-label">返回结果</label>
                                          <div class="col-sm-6">
                                               <textarea class="form-control" rows="10">{{ ret }}</textarea>
                                          </div>
                                    </div>
                             </form>
                      </div>
                 </div>
            </div>
       </div>
       <!--row end-->

{% endblock %}
