{% extends "host/host_list.html" %}
{% block content %}
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="{% url 'index' %}">Dashboard</a>
                            </li>
                            <li>资产管理</li>
                            <li class="active">{{ page_name }}</li>
                        </ul>
                        <!--breadcrumbs end -->
                        <h1 class="h1">{{ page_name }}</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal form-border" id="form" method="post" action=".">
                                       <div class="form-group">
                                             <label class="col-sm-3 control-label">内网IP地址</label>
                                             <div class="col-sm-6">
                                             {{ form.ip }}
                                             {{ form.ip.errors }}
                                             </div>
                                       </div>
                                       <div class="form-group">
                                             <label class="col-sm-3 control-label">外网IP地址</label>
                                             <div class="col-sm-6">
                                             {{ form.ip1 }}
                                             {{ form.ip.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">主机配置</label>
                                             <div class="col-sm-6">
                                             {{ form.product }}
                                             {{ form.product.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">应用(主机名)</label>
                                             <div class="col-sm-6">
                                             {{ form.application }}
					     {{ form.application.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">主机可用区</label>
                                             <div class="col-sm-6">
                                             {{ form.idc_jg }}
                                             {{ form.idc_jg.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">状态</label>
                                             <div class="col-sm-6">
                                             {{ form.status }}
					     {{ form.status.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">备注</label>
                                             <div class="col-sm-6">
                                             {{ form.remark }}
					     {{ form.remark.errors }}
                                              </div>
                                         </div> 
                                         <div class="col-sm-offset-8 col-sm-10">
                                             {% ifequal action 'add' %}
                                             <button type="submit" class="btn btn-primary">添加</button>
                                             {% endifequal %}
                                             {% ifequal action 'edit' %}
                                             <button type="submit" class="btn btn-primary" name="operate" value="update">更新</button>
                                             {% endifequal %}
                                        </div>
                                </form>

                            </div> <!-- panel body -->
                        </div> <!-- panel end -->
                    </div> <!-- col end -->
                </div> <!-- row end -->

{% endblock %}
