{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block css %}
<!-- DataTables-->
<link rel="stylesheet" href="/static/plugins/dataTables/css/dataTables.css">
{% endblock %}
{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>装机列表</li>
                     <li class="active">安装记录</li>
               </ul>
               <!--breadcrumbs end -->
               <h1 class="h1">安装记录(此功能尚不对外开放)</h1>
            </div>
       </div>

       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                           {% if record %}
                           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                               <thead>
                                   <tr>
                                      <th>ID</th>
                                      <th>安装时间</th>
                                      <th>IP</th>
                                      <th>操作系统</th>
                                   </tr>
                               </thead>
                               
                               <tbody>
                               {% for each_record in record %}
                                   <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td>{{ each_record.install_date }}</td>
                                      <td>{{ each_record.ip }}</td>
                                      <td>{{ each_record.system_version }}</td>
                                   </tr>
                               {% endfor %}
                               </tbody>
                            </table>
                           {% endif %}
                            <div class="row">
                                 <div class="col-xs-6">
                                       <div class="dataTables_info" id="example_info" role="alert" aria-live="polite" aria-relevant="all"></div>
                                 </div>
                                 <div class="col-xs-6">
                                      <div class="dataTables_paginate paging_simple_numbers" id="exmaple_paginate">
                                           {% if record.has_previous %}
                                                <a href="?page={{ record.previous_page_number }}">上一页</a>
                                           {% endif %}
                                           <span class="current">
                                                第{{ record.number }}页，共{{ record.paginator.num_pages }}页
                                           </span> 
                                           {% if record.has_next %}
                                                <a href="?page={{ record.next_page_number }}">下一页</a>
                                           {% endif %}
                                      </div>
                                 </div>
                           </div> <!--row end-->
                         </div>
                     </div>
                 </div>
             </div>
      	<!--row end-->

{% endblock %}
