<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

{% if is_add %}
    <button>编辑</button>
    <button>添加</button>
    <button>删除</button>
{% else %}
    <button>查看</button>
{% endif %}


<div>欢迎{{ username }} 登录</div>
</body>
</html>