{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>部署管理</li>
                     <li class="active">智能硬件模块发布</li>
               </ul>
               <!--breadcrumbs end -->
               <h1 class="h1">智能硬件模块发布</h1>
            </div>
       </div>

       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                             <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action=".">

                                 <div class="form-group">
                                        <label class="col-sm-3 control-label">部署环境</label>
                                        <div class="col-sm-6">

                                            <label class="radio-inline">
                                                <input class="icheck" type="radio" name="env" value="pre" checked="checked">预发布</label>
                                            <label class="radio-inline">
                                                <input class="icheck" type="radio" name="env" value="prod">正式(暂不开放)</label>

                                        </div>

                                    </div>
                                    <div class="form-group">
                                          <label class="col-sm-3 control-label">发布模块</label>
                                          <div class="col-sm-6">
                                              <select name="fbmk">
                                                  <!--<option value="0">000</option>-->
                                                  <!--<option value="1">111</option>-->
                                                  {% for mod in module %}
                                            <option value="{{ mod }}">{{ mod }}</option>
                                                  {% endfor %}
                                             </select>


                                          </div>
                                    </div>


                                    <div class="form-group">
                                        <!--<input type="hidden" name="mod" value='fabu'>-->

                                         <div class="col-sm-offset-8 col-sm-10">
                                              <button type="submit" class="btn btn-primary">发布</button>
                                         </div>
                                    </div>


                                    <div class="form-group">
                                          <label class="col-sm-3 control-label">返回结果</label>
                                          <div class="col-sm-6">
                                               <textarea class="form-control" rows="10">{{ ret }}</textarea>
                                          </div>
                                    </div>
                             </form>
                      </div>
                 </div>
            </div>
       </div>
       <!--row end-->

{% endblock %}