{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>部署管理</li>
                     <li class="active">智能硬件模块编译</li>
               </ul>
               <!--breadcrumbs end -->
               <h1 class="h1">智能硬件模块编译</h1>
            </div>
       </div>

       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                             <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action=".">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">目标主机</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="tgt" value={{ tgt|capfirst }}>
                                        </div>
                                    </div>


                                 <div class="form-group">
                                        <label class="col-sm-3 control-label">版本列表</label>
                                     <div class="col-sm-6">
                                            <select name="version">
                                                {% for ver in ver_all %}
                                            <option value="{{ ver }}"> {{ ver }}</option>
                                                {% endfor %}
                                             </select>

                                         <button  onclick="window.open('{% url 'deploy:change_ver' %}')">+</button>

                                         </div>
                                         <a href=http://192.168.30.138:18888/hard_java/ target="_blank">请点击查看编译日志</a>
                                        </div>


                                 <div class="form-group">
                                         <!--<input type="hidden" name="mod" value='bianyi'>-->
                                         <div class="col-sm-offset-8 col-sm-10">
                                              <button type="submit" class="btn btn-primary">编译</button>
                                         </div>
                                    </div>



                                    <div class="form-group">
                                          <label class="col-sm-3 control-label">返回结果</label>
                                          <div class="col-sm-6">
                                               <textarea class="form-control" rows="10">{{ ret }}</textarea>
                                          </div>

                                        <a href="{% url 'deploy:module_fabu' %}" target="_blank">编译完请点击发布功能页面链接</a>

                                    </div>


                             </form>
                      </div>
                 </div>
            </div>
       </div>
       <!--row end-->

{% endblock %}
