<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>请求后台接口并返回给前端</title>
    <script src="/static/js/vue/vue.js"></script>
    <script src="/static/js/vue/axios.js"></script>
</head>

<body>

<h2> 请求后台接口并返回给前端</h2>

{% verbatim %}
<div id = "app">

    {{ msg }}
    <hr>

    <table border="1">
        <tr>
            <th>id</th>
            <th>投票内容</th>
            <th>票数</th>
            <th>操作</th>
        </tr>
        <tr v-for="item in msg" :key="item.id">
            <td v-text="item.id"></td>
            <td v-text="item.choice_text"></td>
            <td v-text="item.votes"></td>
            <td><button>编辑</button> <button class="but" v-on:click="del(item.id)">删除</button>  </td>
        </tr>

    </table>


</div>
{% endverbatim %}


<script>
    var vm = new Vue({
        el: "#app",
        data: {
            msg:  null
        },
        methods: {
            // 删除的时候，传参数进来，从而可以从数据库删除记录
            del(id){
                // console.log("发送post请求删除数据....")
                console.log("删除的数据的id为:",id)
                axios.post('/polls/list2',{
                    params :{
                        id: id
                    }
                }).then(res =>{
                    console.log(res)
                    window.location.reload();

                })
            }


        },
        mounted: function () {
            axios.get('/polls/list2').then(res => {
                this.msg=res;
               // console.log("xxx")
            })
        }

    })


</script>


<style>
.but  {
    color: green;
}

</style>

</body>
</html>