{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block css %}
<!-- DataTables-->
<link rel="stylesheet" href="/static/plugins/dataTables/css/dataTables.css">
{% endblock %}
{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>资产管理</li>
                     <li class="active">装机列表</li>
               </ul>
               <!--breadcrumbs end -->
               <h1 class="h1">装机列表(此功能尚不对外开放)</h1>
            </div>
       </div>

       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                           {% if all_system_list %}
                           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                               <thead>
                                   <tr>
                                      <th>ID</th>
                                      <th>IP地址</th>
                                      <th>主机名</th>
                                      <th>MAC地址</th>
                                      <th>操作系统</th>
                                      <th>操作</th>
                                   </tr>
                               </thead>
                               
                               <tbody>
                               {% for system_list in all_system_list %}
                                   <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td>{{ system_list.ip }}</td>
                                      <td>{{ system_list.hostname }}</td>
                                      <td>{{ system_list.macaddress }}</td>
                                      <td>{{ system_list.system_version }}</td>
                                      <td><a href="{% url 'install_manage' id=system_list.id %}" class="btn btn-info btn-sm">编辑</a> 
                                          <a href="/install/system_install/?ip={{ system_list.ip }}&host={{ system_list.hostname }}&mac={{ system_list.macaddress }}&ver={{ system_list.system_version }}" style="color:white" class="btn btn-danger btn-sm" role="button">安装</a>
                                      </td>
                                   </tr>
                               {% endfor %}
                               </tbody>
                            </table>
                           {% endif %}
                           <div class="row">
                                <div class="col-xs-6">
                                      <div class="dataTables_info" id="example_info" role="alert" aria-live="polite" aria-relevant="all"></div>
                                </div>
                                <div class="col-xs-6">
                                      <div class="dataTables_paginate paging_simple_numbers" id="exmaple_paginate">
                                           {% if all_system_list.has_previous %}
                                                 <a href="?page={{ all_system_list.previous_page_number }}">上一页</a>
                                           {% endif %}
                                           <span class="current">
                                                 第{{ all_system_list.number }}页，共{{ all_system_list.paginator.num_pages }}页
                                           </span>
                                           {% if all_system_list.has_next %}
                                                 <a href="?page={{ all_system_list.next_page_number }}">下一页</a>
                                           {% endif %}
                                      </div>
                                </div>
                           </div> <!--row end-->                                   
                        </div>
                     </div>
                 </div>
             </div>
      	<!--row end-->

{% endblock %}
