{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block css %}
<!-- DataTables-->
<link rel="stylesheet" href="/static/plugins/dataTables/css/dataTables.css">
{% endblock %}
{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>资产管理</li>
                     <li class="active">数据中心资产</li>
               </ul>
               <!--breadcrumbs end -->
               <h1 class="h1">数据中心资产</h1>
            </div>
       </div>

       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                           {% if all_idc_list %}
                           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                               <thead>
                                   <tr>
                                      <th>ID</th>
                                      <th>机房名称</th>
                                      <th>机房类型</th>
                                      <th>机房地址</th>
                                      <th>到期时间</th>
                                      <th>机房联系电话</th>
                                      <th>备注</th>
                                   </tr>
                               </thead>
                               
                               <tbody>
                               {% for each_idc in all_idc_list %}
                                   <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td>{{ each_idc.idc_name }}</td>
                                      <td>{{ each_idc.idc_type }}</td>
                                      <td>{{ each_idc.idc_location }}</td>
                                      <td>{{ each_idc.contract_date }}</td>
                                      <td>{{ each_idc.idc_contacts }}</td>
                                      <td>{{ each_idc.remark }}</td>
                                   </tr>
                               {% endfor %}
                               </tbody>
                            </table>
                           {% endif %}
                            <div class="row">
                                 <div class="col-xs-6">
                                       <div class="dataTables_info" id="example_info" role="alert" aria-live="polite" aria-relevant="all"></div>
                                 </div>
                                 <div class="col-xs-6">
                                      <div class="dataTables_paginate paging_simple_numbers" id="exmaple_paginate">
                                           <a href="{% url 'asset:add_idc' %}" class="btn btn-info btn-sm" role="button">添加</a>
                                      </div>
                                 </div>
                           </div> <!--row end-->
                         </div>
                     </div>
                 </div>
             </div>
      	<!--row end-->

{% endblock %}
