{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block css %}
<!-- DataTables-->
<link rel="stylesheet" href="/static/plugins/dataTables/css/dataTables.css">
{% endblock %}




{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>故障管理</li>
                     <li class="active">故障列表</li>
               </ul>
               <!--breadcrumbs end -->
               <h2 class="h2">故障信息列表</h2>
            </div>
       </div>




       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                               <thead>
                                   <tr>
                                      <th>故障简述</th>
                                      <th>故障级别</th>
                                      <th>故障类型</th>
                                       <th>影响项目</th>
                                      <th>主导改进</th>
                                      <th>持续时间</th>
                                      <th>故障状态</th>
                                      <th>创建者</th>
                                      <th>创建时间</th>
                                      <th>操作</th>

                                   </tr>
                               </thead>


                               <tbody>
                                        {% for each_content in all_content %}

                                   <tr>
                                      <td >{{ each_content.title }}</td>
                                      <td >{{ each_content.get_level_display }}</td>
                                      <td >{{ each_content.type }}</td>
                                       <td>{{ each_content.project }}</td>
                                       <td>{{ each_content.get_improve_display }}</td>
                                       <td>{{ each_content.start_time }}</td>
                                       <td>{{ each_content.get_status_display }}</td>
                                       <td></td>
                                       <td>{{ each_content.end_time }}</td>
                                       <td><a href="#" class="btn btn-info btn-sm">Detail</a></td>
                                   </tr>
                                        {% endfor %}

                            </tbody>
                               </thead>
                            </table>
                         </div>
                     </div>
                 </div>
             </div>
      	<!--row end-->

{% endblock %}





