{% extends "host/host_list.html" %}
{% block content %}
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="{% url 'index' %}">Dashboard</a>
                            </li>
                            <li>新建故障</li>
                        </ul>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal form-border" id="form" method="post" action=".">
                                       <div class="form-group">
                                             <label class="col-sm-3 control-label">故障概述</label>
                                             <div class="col-sm-6">
                                             {{ form.title }}
                                             {{ error }}
                                             </div>
                                       </div>
                                       <div class="form-group">
                                             <label class="col-sm-3 control-label">故障级别</label>
                                             <div class="col-sm-6">
                                             {{ form.level }}
                                             {{ form.level.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">故障类型</label>
                                             <div class="col-sm-6">
                                             {{ form.type }}
                                             {{ form.type.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">影响项目</label>
                                             <div class="col-sm-6">
                                             {{ form.project }}
					                        {{ form.project.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">故障状态</label>
                                             <div class="col-sm-6">
                                             {{ form.status }}
                                             {{ form.status.errors }}
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">故障时间</label>
                                             <div class="col-sm-6">
                                             {{ form.start_time }}  to  {{ form.end_time }}
                                             </div>

                                        </div>


                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">主导改进</label>
                                             <div class="col-sm-6">
                                             {{ form.improve }}
					                         {{ form.improve.errors }}
                                             </div>
                                         </div>

                                         <div class="form-group">
                                             <label class="col-sm-3 control-label">故障影响</label>
                                             <div class="col-sm-6">
                                             {{ form.effect }}
					                         {{ form.effect.errors }}
                                             </div>
                                             </div>

                                         <div class="form-group">
                                             <label class="col-sm-3 control-label">原因分析</label>
                                             <div class="col-sm-6">
                                             {{ form.reasons }}
					                         {{ form.reasons.errors }}
                                             </div>
                                             </div>

                                         <div class="form-group">
                                             <label class="col-sm-3 control-label">解决方案</label>
                                             <div class="col-sm-6">
                                             {{ form.solution }}
					                         {{ form.solution.errors }}
                                             </div>
                                             </div>

                                         <div class="col-sm-offset-8 col-sm-10">
                                             <button type="submit" class="btn btn-primary">取消</button>
                                             <button type="submit" class="btn btn-primary" name="operate" value="update">保存</button>
                                        </div>


                                </form>
                            </div> <!-- panel body -->
                        </div> <!-- panel end -->
                    </div> <!-- col end -->
                </div> <!-- row end -->

{% endblock %}
