{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block css %}
<!-- DataTables-->
<link rel="stylesheet" href="/static/plugins/dataTables/css/dataTables.css">
{% endblock %}




{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>故障管理</li>
                     <li class="active">故障类型</li>
               </ul>
               <!--breadcrumbs end -->
               <h2 class="h2">故障类型列表</h2>
            </div>
       </div>




       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                               <thead>
                                   <tr>
                                      <th>故障序号</th>
                                      <th>故障类型</th>
                                   </tr>
                               </thead>

                               <tbody>
                                        {% for each_type in all_type %}
                                   <tr>
                                      <td >{{ each_type.id }}</td>
                                      <td >{{ each_type.name }}</td>
                                   </tr>
                                        {% endfor %}
                            </tbody>
                               </thead>
                            </table>

                          <div class="col-sm-offset-8 col-sm-10">
                                             <!--<a  class="btn btn-primary" href="/content/type_add/">添加</a>-->
                                             <a  class="btn btn-primary" href="{% url 'content:fms_type_add' %}">添加</a>
                                        </div>

                         </div>
                     </div>
                 </div>
             </div>
      	<!--row end-->

{% endblock %}





