{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>部署管理</li>
                     <li class="active">添加或者修改git版本</li>
               </ul>
               <!--breadcrumbs end -->
               <h1 class="h1">新增模块请联系管理员</h1>
            </div>
       </div>

{#{{ error }}接收后台返回的错误信息封装在ul，li标签里面：#}
    {{ error }}


       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                             <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">模块</label>

                                        <div class="col-sm-6">
                                             <select name="module">
                                                  {% for mod in module %}
                                            <option value="{{ mod }}">{{ mod }}</option>
                                                  {% endfor %}
                                             </select>

                                        </div>
                                    </div>

                                 <div class="form-group">
                                        <label class="col-sm-3 control-label">分支版本</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="ver" value="">
                                        </div>
                                    </div>

                                 <div class="form-group">
                                        <label class="col-sm-3 control-label">编译环境</label>
                                        <div class="col-sm-6">
                                            <select name="env">
                                                <option value="pre">pre</option>
                                                <option value="prod">prod</option>
                                                </select>
                                        </div>
                                    </div>

                                 <div class="col-sm-offset-8 col-sm-10" >
                                     <button type="submit" class="btn btn-primary" >修改分支</button>

                                     </div>





                             </form>
                      </div>
                 </div>
            </div>
       </div>
       <!--row end-->

{% endblock %}
