{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block container %}
    <section id="error-container">

        <div class="block-error">

            <header>
                <h1 class="error">404</h1>
                <p class="text-center">Page not found</p>
            </header>

            <p class="text-center">哎呀! 你访问的页面去火星上了.....</p>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-info btn-block btn-3d" href="{% url 'index' %}">返回到主页</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block btn-3d" onclick="history.back();">返回到上一页</button>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
