{% extends "base.html" %}
{% block title %}登录KOMS{% endblock %}
{% block container %}
    <section id="login-container">

        <div class="row">
            <div class="col-md-3" id="login-wrapper">
                <div class="panel panel-primary animated flipInY">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            欢迎来到 KOMS
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>登陆你的账户:</p>


                        <form  method="get" class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="user" class="form-control" id="email" placeholder="Username">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                    <i class="fa fa-lock"></i>
                                    <a href="javascript:void(0)" class="help-block">忘记密码?</a>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-block" value="登陆">

                                    <hr />
                                    <a href="sign_up/sign-up.html" class="btn btn-default btn-block">还没有账户? 请注册</a>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
