{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block container %}
    <section id="login-container">

        <div class="row">
            <div class="col-md-3" id="login-wrapper">
                <div class="panel panel-primary animated flipInY">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            用户注册
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>已经是用户?
                            <a href="login.html">
                                <strong>注册</strong>
                            </a>
                        </p>
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">用户名</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">密码</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">确认密码</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Retype your password">
                            </div>

                            <a href="index.html" class="btn btn-primary btn-block">注册</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
