{% extends "base.html" %}
{% block title %}OMS{% endblock %}
{% block css %}
<!-- DataTables-->
<link rel="stylesheet" href="/static/plugins/dataTables/css/dataTables.css">
{% endblock %}
{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">Dashboard</a>
                     </li>
                     <li>资产管理</li>
                     <li class="active">主机列表</li>
               </ul>
               <!--breadcrumbs end -->
               <h1 class="h1">主机列表</h1>
            </div>
       </div>

       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                           {% if all_host_list %}
                           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                               <thead>
                                   <tr>
                                      <th>ID</th>
                                      <th>内网IP地址</th>
                                      <th>外网IP地址</th>
                                      <th>主机配置</th>
                                      <th>应用(主机名)</th>
                                      <th>主机可用区</th>
                                      <th>使用状态</th>
                                      <th>备注</th>
                                      <th>操作</th>
                                   </tr>
                               </thead>
                               
                               <tbody>
                               {% for all_host in all_host_list %}
                                   <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td>{{ all_host.ip }}</td>
                                      <td>{{ all_host.ip1 }}</td>
                                      <td>{{ all_host.product }}</td>
                                      <td>{{ all_host.application }}</td>
                                      <td>{{ all_host.idc_jg }}</td>
                                      <td>{{ all_host.status }}</td>
                                      <td>{{ all_host.remark }}</td>
                                      <td><a href="{% url 'asset:host_manage' id=all_host.id %}" class="btn btn-info btn-sm">编辑</a>
                                          <a href="/asset/host_delete/?id={{ all_host.id }}&delete=1" style="color:white" class="btn btn-danger btn-sm" role="button">删除</a>
                                      </td>
                                   </tr>
                               {% endfor %}
                               </tbody>
                            </table>
                           {% endif %}
                            <div class="row">
                                 <div class="col-xs-6">
                                       <div class="dataTables_info" id="example_info" role="alert" aria-live="polite" aria-relevant="all"></div>
                                 </div>
                                 <div class="col-xs-6">
                                      <div class="dataTables_paginate paging_simple_numbers" id="exmaple_paginate">
                                           <a href="{% url 'asset:add_host' %}" class="btn btn-info btn-sm" role="button">添加</a>
                                           {% if all_host_list.has_previous %}
                                                <a href="?page={{ all_host_list.previous_page_number }}">上一页</a>
                                           {% endif %}
                                           <span class="current">
                                                第{{ all_host_list.number }}页，共{{ all_host_list.paginator.num_pages }}页
                                           </span> 
                                           {% if all_host_list.has_next %}
                                                <a href="?page={{ all_host_list.next_page_number }}">下一页</a>
                                           {% endif %}
                                      </div>
                                 </div>
                           </div> <!--row end-->
                         </div>
                     </div>
                 </div>
             </div>
      	<!--row end-->

{% endblock %}
