{% extends "host/host_list.html" %}
{% block content %}
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="{% url 'index' %}">Dashboard</a>
                            </li>
                            <li>新建故障类型</li>
                        </ul>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal form-border" id="form" method="post" action=".">
                                       <div class="form-group">
                                             <label class="col-sm-3 control-label">故障类型</label>
                                             <div class="col-sm-6">
                                             {{ form.name }}
                                             </div>
                                       </div>


                                         <div class="col-sm-offset-8 col-sm-10">
                                             <button type="submit" class="btn btn-primary" name="operate" value="update">保存</button>
                                        </div>


                                </form>
                            </div> <!-- panel body -->
                        </div> <!-- panel end -->
                    </div> <!-- col end -->
                </div> <!-- row end -->

{% endblock %}
